/**
 *   Windows layout
 */

html {
    background-color: rgba(241,241,241,1);
}

@media only screen and (orientation: portrait) {
    
    .content {
        display: grid;
        min-height: 100%;
        grid-template-columns: [left] 5% [middle] 90% [right] 5%;
        grid-template-rows: [header] 300px [menu] 100px [main] auto [footer] 50px;
    }
    
    /**
     *   Menu
     */
    
    .menu {
        height: 100px;
    }
    
    .flag {
        height: 100px;
    }
    
    .nav-button-article {
        width: 100px;
    }

    .nav-button {
        height: 100px;
    }
    
    .second {
        font-size: 4em;
    }
    
    .fbProfilePic {
        width: 50px;
    }
    
    /**
     *   Footer
     */

    .footer {
        font-size: .7em;
    }
    
}

@media only screen and (orientation: landscape) {
    
    .content {
        display: grid;
        min-height: 100%;
        grid-template-columns: [left] 5% [middle] 90% [right] 5%;
        grid-template-rows: [header] 300px [menu] 50px [main] auto [footer] 50px;
    }
    
    /**
     *   Menu
     */
    
    .menu {
        height: 50px;
    }
    
    .flag {
        height: 50px;
    }
    
    .nav-button-article {
        width: 50px;
    }

    .nav-button {
        height: 50px;
    }
    
    .second {
        font-size: 1.5em;
    }
    
    .fbProfilePic {
        width: 30px;
    }
    
    /**
     *   Footer
     */

    .footer {
        font-size: 0.9rem;
    }
}
    
.first {
}

.second {
    grid-column-start: middle;
    grid-column-end: end;
    grid-row-start: main;
}

.third {
}

/**
 *   Menu
 */


.nav {
    font-size: 3vh;
}

.menu {
    z-index: 99;
}

.menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}

.nav.fixed {
    position: fixed;
    left: 0;
    height: inherit;
    width: 100%;
}

input[type=radio] {
    display:none;
}

.flag {
    opacity: .6;
}

.imgSelected {
    border: 2px solid white;
    border-radius: 100px;
    cursor: pointer;
    background-color: white;
    opacity: 1;
}

/**
 *   Nav
 */

.nav {
    position: absolute;
    width: 100%;
}

/**
 *  Dialogs
 */

.dialogs {
    position: absolute;
}

.msgDate {
    font-size: 0.3em;
}

/**
 *   Footer
 */


.disclaimer {
    float:none;
}

.developed {
    float: none;
    margin-right: 0;
    margin-left: 0;
}