/**
 *   Windows layout
 */


html {
    background: white;
    font-family: helvetica;
    height: 100%;
}

body {
    margin:0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.content {
    display: grid;
    min-height: 100%;
    grid-template-columns: [left] 20% [middle] 60% [right] 20%;
    grid-template-rows: [header] 300px [menu] 44px [main] auto [footer] 20px;
}

.main {
    overflow: auto;
    padding: 20px;
    grid-column-start: main;
    grid-row-start: main;
}

.first {
    grid-column-start: left;
    grid-row-start: main;
    padding: 20px;
    background-color: rgba(241,241,241,1);
}

.second {
    grid-column-start: middle;
    grid-row-start: main;
    padding: 20px;
    background-color: white;
}

.third {
    grid-column-start: right;
    grid-row-start: main;
    padding: 20px;
    background-color: rgba(241,241,241,1);
}

/**
 *   Banner
 */

.banner {
    width: 100%;
    height: 300px;
    overflow: auto;
    background-color: black;
    grid-column: left / end;
}

.floater_logo {
    background-color: rgba(0,0,0,0);
    color: white;
    position: absolute;
    text-align: center;
    display:table;
    font-family: serif;
}

.floater_logo > article {
    display: none;
    vertical-align: middle;
}

.logo_title {
    font-size: 5em;
    font-family: cursive;
}

.logo_top > img {
    width: 200px;
}

.logo_middle > img {
    width: 200px;
}

.logo_bot > img {
    width: 200px;
}

.banner_img {
    width: 100%;
}

/**
 *   Menu
 */

.menu {
    background-color: black;
    padding: 5px;
    grid-column: left / end;
    grid-row: menu;
}

.menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5%;
    box-shadow: 1px 2px 10px #888888;
    z-index: 99;
}

.nav-button-article {
    width: 30px;
    float:left;
    margin-right: 10px;
}

.nav-button {
    height: 30px;
    cursor: pointer;
}

#nav-button-fb {
    display: none;
}

#nav-button-mail {
    display: none;
}

#lang {
    float: right;
    margin-right: 5px;
    margin-left: auto;
}

#lang input[type="radio"] {
    margin-top: -15px;
    vertical-align: middle;
    cursor: pointer;
}

.flag {
    height: 30px;
    cursor: pointer;
}

/**
 *   Nav
 */

.nav {
    display: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    grid-column: left;
    grid-row: main;
    z-index: 99;
}

.nav h1 {
    padding: 1px;
    margin: 1px;
    min-width: 150px;
    padding: 5px;
}

.nav ul {
    margin: 1px;
    list-style-type: none;
    -webkit-padding-start: 0px;
}


.nav.fixed {
    position: fixed;
    left: 0;
    height: 100%;
    width: 20%;
}

.menuLink {
    cursor: pointer;
}

.nav ul li {
    -webkit-padding-start: 0px;
    padding: 5px;
    padding-left: 20px;
}

.nav ul li:hover {
    background-color: rgba(0,0,0,1);
}

.nav a {
    text-decoration: none;
}

.nav ul a {
    color: white;
}

.nav ul a:visited {
    color: white;
}

.nav ul a:hover {
    color: purple;
}

/**
 *   Dialogs
 */

.alertDialog, .confirmDialog {
    padding: 20px;
    text-align: center;
    background: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
    min-width: 200px;
    display: none;
}

.confirmButtons {
    margin-top: 20px;
    float: right;
}

/**
 *   Footer
 */

.footer {
    color: rgba(143, 143, 143, 1);
    border-top: 1px black solid;
    grid-column-start: left;
    grid-column-end: end;
    grid-row: footer;
    background-color: rgba(241,241,241,1);
}

.disclaimer {
    float:left;
}

.developed {
    float: right;
    margin-right: 5px;
    margin-left: auto;
}

/**
 *  Error
 */

#error_page_img {
    float: left;
    width: 50px;
}
    
#error_title {
    font-size: 3pc;
}

#error_instructions {
    margin-left: 50px;
}

/** 
 *  Content
 */

.ident {
    text-indent: 30px;
}

.text p {
    margin-top: 0;
    margin-bottom: 0;
}

.name {
    margin-bottom: 0px;
}

.nick {
    margin-top: 0px;
    color: rgba(143, 143, 143, 1);
}

.more ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-end: 0px;
}

.more ul li {
    -webkit-padding-start: 0px;
    padding: 5px;
    padding-left: 20px;
}

.more img {
    width: 30px;
}

.more a {
    color: black;
    vertical-align: super;
}

.more a:hover {
    color: purple;
}

.main_photo img{
    width: 100%;
}

.giftLink {
    text-align: center;
}

.giftLink img {
    width: 30%;
}

.rsvpField {
    width: 300px;
}

.rsvpIcons {
    width: 20px;
    cursor: pointer;
}

#rsvpArticle {
    margin-top: 50px;
    margin-bottom: 50px;
}

#submitMsg:disabled {
    cursor:not-allowed;
}

#errorMsg {
    color: red;
}

#successMsg {
    color: green;
}

#submitMsg {
    cursor:pointer;
}

/**
 *  Facebook
 */

#fbLoginButton {
    margin-bottom: 20px;
}

.fbProfilePic {
    width: 30px;
}

/**
 *   Old
 */

.fieldset {
    background: rgba(241,241,241,1);
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

fieldset legend {
    font-weight: bold;
}

#debug {
    margin: 0;
    height: 15px;
    margin-top: 0px;
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.label {
    font-weight: bold;
    font-size: 17px;
}

#info {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#infoTable1 {
    margin-left: auto;
    margin-right: auto;
}

#infoTable1 td {
    padding: 5px;
}

#tooltip {
    color: grey;
    text-shadow: 1px 1px 0.01px rgba(255,255,255,1);
    cursor: help;
}
    
#infoTable2 {
    width:40%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#infoTable2 td {
    min-width: 40px;
}

#graphs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

